body {background-color: #161560;}
.bounce {
    margin-top: 7%;
    animation-name: bounce;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.2,.72,.69,1);
    animation-direction: alternate;
}
@keyframes bounce {
    0%{transform:translateY(300px)}
}