body {
    background-color: #1e394d;
    color: white;
    font-family: "Exo", sans-serif;
    font-size: 400%;
    }
a:link, a:visited, a:hover, a:active {color: white;}
.center	{text-align: center;}
.right	{
    font-size: 50%;
    line-height: 0px;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    }
.midbox {
    background-color: #4c6a7f;
    font-size: 70%;
    padding: 1%;
    padding-left: 2%;
    text-align: left;
    margin-right: 20%;
    margin-left: 20%;
    border-color: #d5e6f2;
    border-style: solid;
    border-width: 15px;
    border-radius: 20px;
}
.heading {
    line-height: 0px;
    margin-bottom: 5%;
    font-weight: normal;
}
.date {
    font-size: 50%;
    line-height: 0px;
    margin-bottom: 1%;
    text-align: left;
    margin-left: 20%;
}
.blog {font-size: 40%;}
.blogline {
    height: 0px;
    padding: 0%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30px;
    border-style: solid;
    border-color: white;
    border-radius: 2px;
    border-width: 2px;
}